@model IEnumerable<EnConTrackingSystem.Models.Program>
@{
    ViewBag.Title = EnConTrackingSystem.App_GlobalResources.Lang.Programs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@EnConTrackingSystem.App_GlobalResources.Lang.Programs</h2>

